mark{
    padding: 0;
}
.search--hidden{
    opacity: 0;
}
.search--highlight{
    color: var(--pf-accent);
}
.show-on-search{
  display: none;
}
.show-on-search.has-search-highlight{
  display: block;
}